:root {
  --main-layout-bg: #f0f0f0;
  --inset-fb-shadow: 8px 8px 16px 0px #00000059 inset;
  --inset-fb-blue-shadow: 2px 2px 4px 0px #bac3df inset,
    -2px -2px 4px 0px #ffffff inset;
  --outset-shadow-200: 10px 10px 20px 0px #d2d2d2, -10px -10px 16px 0px #ffffff;
  --outset-fb-shadow: 10px 10px 20px 0px #d2d2d2, -10px -10px 16px 0px #ffffff;
  --outset-fb-blue-shadow: -10px -10px 16px 0px #eaefff,
    10px 10px 20px 0px #c2cceb;
  --text-color-light: #999999;
  --light-dark-color: #1b1f26b8;
  --primary-color-light: #96a6cb;
  --primary-color: #3b4f7d;
  --secondary-opacity: 0.7;
  --std-animation-time: 1s;
  --btn-bg-color: #e6e7fd;
  --btn-bg-shadow: 4px 4px 8px 0px #d1d2f2, -3px -3px 8px 0px #f6f9ff;
  --btn-bg-inset-shadow: 4px 4px 8px 0px #d1d2f2, -3px -3px 8px 0px #f6f9ff,
    2px 2px 4px 0px #000000 inset;

  --text-color-basic: #000000;
  --text-color-900: #FFFFFF;
  
  --background-color-50: #F0F0F0;
  --background-color-200: #FFFFFF;
  --background-color-300: #EEEEEE;
  --background-color-700: #949494;

  --theme-text-color: #323946;

  --nav-icon-shadow: 2px 2px 4px 0px #a1a1a1 inset,
    -2px -2px 4px 0px #ffffff inset;
  --nav-icon-bg: #ededeb;
}

/* form default */
:root {
  --form-main-background-color: #d3e0fc;
  --form-background-color: #d3e0fc;
  --form-primary-color: #3b4f7d;
  --nav-text-color: #3b4f7d;
  --form-section-outset-shadow: -10px -10px 16px 0px #eaefff,
  10px 10px 20px 0px #c2cceb;
  --form-section-bg: linear-gradient(
    94.96deg,
    rgba(231, 238, 255, 0.5) 6.5%,
    rgba(224, 234, 255, 0.5) 96%
  );
  --form-active-field-bg: #DCDCDC;

  --form-button-action-shadow: -4px -4px 8px 0px #F6F9FF, 4px 4px 8px 0px #D1D2F240;
  --form-button-action-bg: #E6E7FD;

  --form-button-shadow: -1.27px -1.27px 2.55px 0px #edf2ff,
  2.55px 2.55px 5.1px 0px #cacdee;
  --form-button-bg: #d6d9fb;
  --form-button-bg-color-hover: #e3e6ff;
  --button-star-bg: #B4C6FF;
 --form-choice-inner-background-color: #B4C6FF;
 --form-choice-inner-filled-background-color: #DDE4FD;
 --form-choice-background-color: #D1DCFE;
  --form-choice-shadow: -1px -1px 2px 0px #EDF2FF inset, 2px 2px 4px 0px #C2CDEF inset;
  --step-circle-shadow: -0.67px -0.67px 1.33px 0px #95a6ce inset,
  1.33px 1.33px 2.67px 0px #000000 inset;
  --form-btn-bg-inset-shadow: 4px 4px 8px 0px #d1d2f2, -3px -3px 8px 0px #f6f9ff,
  2px 2px 4px 0px #000000 inset;
  --form-btn-bg: #3b4f7d;
  --form-button-bg-color: #e6e7fd;
  --form-btn-bg-shadow: 4px 4px 8px 0px #d1d2f2, -3px -3px 8px 0px #f6f9ff;
  --nav-icon-shadow: 2px 2px 4px 0px #bac3df inset;
  --form-inset-shadow: 8px 8px 16px 0px #00000059 inset;
  --nav-icon-bg: #DCE4F8;
}

*::-webkit-scrollbar {
  display: none;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#layout-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  font-size: 16px;
  position: relative;

  background: var(--main-layout-bg);
  color: var(--theme-text-color);
}

.vertical-layout .sidebar-wrapper {
  display: none;
}
.horizontal-layout .navbar-wrapper {
  display: none;
}
.main-content {
  display: flex;
  /* flex-direction: column; */
  overflow: hidden;
  position: relative;
}

.outset-fb-shadow {
  box-shadow: var(--outset-fb-shadow);
}

.outset-fb-blue-shadow {
  box-shadow: var(--outset-fb-blue-shadow);
}

.inset-fb-shadow {
  box-shadow: var(--inset-fb-shadow);
}

:active.fb-normal-btn {
  box-shadow: var(--inset-fb-shadow) !important;
  color: #fff !important;
  background: var(--primary-color) !important;
}

.fb-normal-btn {
  box-shadow: var(--outset-shadow-200);
  color: var(--light-dark-color);
  background: var(--background-color-300);
  font-weight: 500;
  padding: 0.9375em 0.9375em;
  text-align: center;
  border-radius: 0.9375em;
}

.fb-primary-btn {
  box-shadow: var(--inset-fb-shadow);
  color: #fff;
  background: var(--primary-color);
  font-weight: 500;
  padding: 0.9375em 0.9375em;
  text-align: center;
  border-radius: 0.625em;
}

.fb-normal-input {
  box-shadow: var(--outset-shadow-200);
  color: var(--light-dark-color);
  background: var(--background-color-300);
  font-weight: 500;
  padding: 0.9375em 0.9375em;
  text-align: center;
  border-radius: 0.9375em;
  /* max-width: 21.875em; */
}

.fb-normal-input input {
  outline: none;
}

/* Tablet and smaller screens */
@media (max-width: 1024px) {
}

/* Larger than Mobile screens */
@media (min-width: 769px) {
}

/* Mobile screens */
@media (max-width: 768px) {
  #layout-wrapper {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
    gap: 0;
  }
  .main-content {
    width: 100%;
    padding: 0;
  }
}

/* Small mobile screens */
@media (max-width: 480px) {
}
