.theme-red {
  --form-main-background-color: linear-gradient(
    180deg,
    #ffc6c7 0%,
    #ffa0a2 16.83%,
    #ffa0a2 92.31%,
    #ffc6c7 100%
  );
  --form-background-color: #fddddd;
  --form-primary-color: #7d3c3d;
  --nav-text-color: #090909;
  --form-section-outset-shadow: -10px -10px 16px 0px #ff9a9a,
    10px 10px 20px 0px #ff7474;
  --form-section-bg: linear-gradient(
    94.96deg,
    rgba(255, 231, 231, 0.5) 6.5%,
    rgba(255, 224, 224, 0.5) 96%
  );

  --button-star-bg: #ffb4b6;
  --form-button-action-shadow: -4px -4px 8px 0px #ffeded,
    4px 4px 8px 0px #eecacb;
  --form-button-action-bg: #fbd6d7;
  --form-button-shadow: -1.27px -1.27px 2.55px 0px #ffeded,
    2.55px 2.55px 5.1px 0px #eecacb;
  --form-button-bg: #fbd6d7;
  --form-button-bg-color-hover: #fbd6d7b3;

  /* pending */
  --form-choice-background-color: #d1dcfe;
  --form-choice-shadow: -1px -1px 2px 0px #edf2ff inset,
    2px 2px 4px 0px #c2cdef inset;
  --form-choice-inner-background-color: #b4c6ff;
  /* pending */

  --step-circle-shadow: -0.67px -0.67px 1.33px 0px #ce9595 inset,
    1.33px 1.33px 2.67px 0px #000000 inset;
  --form-btn-bg-inset-shadow: -1px -1px 2px 0px #ce9596 inset,
    2px 2px 4px 0px #000000 inset;
  --form-btn-bg: #ff2d55;
  --form-inset-shadow: 8px 8px 16px 0px #00000059 inset;
  --form-button-bg-color: #fde6e6;
  --form-btn-bg-shadow: 4px 4px 8px 0px #f2d1d2, -3px -3px 8px 0px #f6f9ff;
  --nav-icon-shadow: 2px 2px 4px 0px #ffffff inset,
    -2px -2px 4px 0px #ff8484 inset;
  --nav-icon-bg: #f0c5d0;
}

.theme-purple {
  --form-main-background-color: linear-gradient(
    180deg,
    #d6ccff 0%,
    #b3a0ff 16.83%,
    #b3a0ff 92.31%,
    #d6ccff 100%
  );
  --form-background-color: #e3ddfd;
  --form-primary-color: #553c7d;
  --nav-text-color: #090909;

  --form-section-outset-shadow: -10px -10px 16px 0px #ae9aff,
    10px 10px 20px 0px #8474ff;
  --form-section-bg: linear-gradient(
    94.96deg,
    rgba(238, 231, 255, 0.5) 6.5%,
    rgba(243, 224, 255, 0.5) 96%
  );

  --button-star-bg: #b4bbff;
  --form-button-action-shadow: -4px -4px 8px 0px #f7edff,
    4px 4px 8px 0px #ab84ff;
  --form-button-action-bg: #e3ddfd;
  --form-button-shadow: -1.27px -1.27px 2.55px 0px #f7edff,
    2.55px 2.55px 5.1px 0px #ab84ff;
  --form-button-bg: #e3ddfd;
  --form-button-bg-color-hover: #e3ddfdb3;

  --step-circle-shadow: -0.67px -0.67px 1.33px 0px #ab95ce inset,
    1.33px 1.33px 2.67px 0px #000000 inset;
  --form-btn-bg-inset-shadow: -1px -1px 2px 0px #a795ce inset,
    2px 2px 4px 0px #000000 inset;
  --form-btn-bg: #5856d6;
  --form-inset-shadow: 8px 8px 16px 0px #00000059 inset;
  --form-button-bg-color: #ede6fd;
  --form-btn-bg-shadow: 4px 4px 8px 0px #dbd1f2, -3px -3px 8px 0px #f6f9ff;
  --nav-icon-shadow: 2px 2px 4px 0px #ffffff inset,
    -2px -2px 4px 0px #ab84ff inset;
  --nav-icon-bg: #d3c5f0;
}

.theme-green {
  --form-main-background-color: linear-gradient(
    180deg,
    #bdd7c4 0%,
    #34c759 16.83%,
    #34c759 92.31%,
    #bdd7c4 100%
  );
  --form-background-color: #e3ddfd;
  --form-primary-color: #3c7d4e;
  --nav-text-color: #ffffff;

  --form-section-outset-shadow: -10px -10px 16px 0px #59db6f,
    10px 10px 20px 0px #179c38;
  --form-section-bg: linear-gradient(
    94.96deg,
    rgba(238, 231, 255, 0.5) 6.5%,
    rgba(243, 224, 255, 0.5) 96%
  );

  --button-star-bg: #93da81;
  --form-button-action-shadow: -4px -4px 8px 0px #f3ffed,
    4px 4px 8px 0px #709e4f;
  --form-button-action-bg: #dffddd;
  --form-button-shadow: -1.27px -1.27px 2.55px 0px #f3ffed,
    2.55px 2.55px 5.1px 0px #709e4f;
  --form-button-bg: #dffddd;
  --form-button-bg-color-hover: #dffdddb3;

  --step-circle-shadow: -0.67px -0.67px 1.33px 0px #ab95ce inset,
    1.33px 1.33px 2.67px 0px #000000 inset;
  --form-btn-bg-inset-shadow: -1px -1px 2px 0px #4eb449 inset,
    2px 2px 4px 0px #000000 inset;
  --form-btn-bg: #208d3c;
  --form-inset-shadow: 8px 8px 16px 0px #00000059 inset;
  --form-button-bg-color: #ede6fd;
  --form-btn-bg-shadow: 4px 4px 8px 0px #d8f2d1, -3px -3px 8px 0px #f6f9ff;
  --nav-icon-shadow: 2px 2px 4px 0px #ffffff inset,
    -2px -2px 4px 0px #5bad62 inset;
  --nav-icon-bg: #c1dcc8;
}

.theme-blue {
  --form-main-background-color: linear-gradient(
    180deg,
    #7bbaff 0%,
    #017aff 16.83%,
    #017aff 92.31%,
    #7bbaff 100%
  );
  --form-background-color: #e3ddfd;
  --form-primary-color: #3c657d;
  --nav-text-color: #ffffff;

  --form-section-outset-shadow: -10px -10px 16px 0px #3ba4ef,
    10px 10px 20px 0px #175a9c;
  --form-section-bg: linear-gradient(
    94.96deg,
    rgba(255, 231, 231, 0.5) 6.5%,
    rgba(255, 224, 224, 0.5) 96%
  );

  --button-star-bg: #81a5da;
  --form-button-action-shadow: -4px -4px 8px 0px #edf2ff,
    4px 4px 8px 0px #4f799e;
  --form-button-action-bg: #ddeafd;
  --form-button-shadow: -1.27px -1.27px 2.55px 0px #edf2ff,
    2.55px 2.55px 5.1px 0px #4f799e;
  --form-button-bg: #ddeafd;
  --form-button-bg-color-hover: #ddeafdb3;

  --step-circle-shadow: -0.67px -0.67px 1.33px 0px #95b0ce inset,
    1.33px 1.33px 2.67px 0px #000000 inset;
  --form-btn-bg-inset-shadow: -1px -1px 2px 0px #497bb4 inset,
    2px 2px 4px 0px #000000 inset;
  --form-btn-bg: #0068da;
  --form-inset-shadow: 8px 8px 16px 0px #00000059 inset;
  --form-button-bg-color: #fde6e6;
  --form-btn-bg-shadow: 4px 4px 8px 0px #479aff, -3px -3px 8px 0px #f6f9ff;
  --nav-icon-shadow: 2px 2px 4px 0px #ffffff inset,
    -2px -2px 4px 0px #1c5c8a inset;
  --nav-icon-bg: #c1d1dc;
}

/* Form Navbar */
.vertical-layout .navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em 1.5em;
  width: 100%;
}

.form-component-button {
  box-shadow: var(--form-button-shadow);
  background: var(--form-button-bg);
  color: var(--form-primary-color);
}
.form-action-button {
  box-shadow: var(--form-button-action-shadow);
  background: var(--form-button-action-bg);
  color: var(--form-primary-color);
}

.form-action-button:hover,
.form-button:hover {
  opacity: 0.7;
}

.form-action-button:active,
.form-button:active {
  /* transform: scale(0.98); */
}

.component-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25em;
  padding: 1.875em;
  padding-left: 6.25em;
  border-radius: 1.875em;
  width: 100%;

  box-shadow: var(--form-section-outset-shadow);
  background: var(--form-section-bg);
}
.fullscreen-section {
  flex: 1;
  overflow: hidden;
}
.vertical-layout .fullscreen-section {
  /* padding: 1.875em; */
}
.fullscreen-section .component-wrapper {
  justify-content: unset;
}
.component-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25em;
  min-width: 300px;
}
.form-field {
  cursor: pointer;
}
.form-field:hover,
.active-field {
  background: var(--form-active-field-bg);
}
.component-section .component-title {
  font-size: 1.25em;
  font-weight: 700;

  color: var(--form-primary-color);
}
.component-section .component-description {
  font-size: 0.875em;
  font-weight: 400;
  color: var(--light-dark-color);
}
.component-section .documents-wrapper {
  margin-top: 1.25em;
  display: flex;
  gap: 0.625em;
  flex-wrap: wrap;
}
.component-section .document-preview {
  height: 6.875em;
  width: 6.875em;
  border-radius: 0.46875em;

  box-shadow: -0.96px -0.96px 1.91px 0px #edf2ff,
    1.91px 1.91px 3.82px 0px #cacdee;
  background-color: #fff;
}
.form-component {
  max-width: 18.75em; /* 300px */
  margin: 1.875em 0;
}

/* Hide WebKit spinner buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Mobile screens */
@media (max-width: 768px) {
  .component-section {
    padding-left: 1.875em;
  }
}
